@{
    ViewData["Title"] = "Create Subject";
    Layout = "~/Pages/AdminDashboardLayout.cshtml";
}
@using Final_LitchiLearn.Models
@model Final_LitchiLearn.Models.AdminSubject
@*@{
    IEnumerable<UserAccountModel> userAcc = ViewData["UserAccounts"] as IEnumerable<UserAccountModel>;
    IEnumerable<AdminSubject> adminSub = ViewData["SubjectList"] as IEnumerable<AdminSubject>;
}*@

<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
</head>
<div class="landing-page">
    <!--Start of Nav Bar-->
    <div class="container">
        <div class="header-area">
            <div class="logo">LitchiLearn</div>
            <ul class="links">
                <li><a type="button" class="nav-link text-dark" asp-controller="Admin" asp-action="AdminDashboard">  Home </a></li>
                <li>Log Out</li>
            </ul>
        </div>
    </div>
</div><!--End of Nav Bar-->
<h4>Edit Subject </h4>
<form method="post" asp-action="AdminRemoveSubject">
    <input type="hidden" asp-for="SubjectID" />



    <hr />
    <div class="row">
        <div class="col-sm-6">
            <div class="form">
                <!--Start of Subject Name Form-Group-->
                <label>Subject Name</label><br />
                <input asp-for="SubjectName" class="form-control" required readonly>
            </div><!--End of Subject Name Form-Group-->
        </div>
        <div class="col-sm-6">
            <div class="form">
                <!--Start of Grade Selection Form-Group-->
                <label>Assign Grade to Subject</label><br />
                <input asp-for="SubjectGrade" class="form-control" required readonly>
            </div> <!--End of Grade Selection Form-Group-->
        </div>
    </div><!--End of Row-->
    <div class="row">
        <!--Start of Row-->
        <div class="col-sm-6">
            <div class="form">
                <!--Start of Grade Head Form-Group-->
                <label>Select HOD</label><br />

                <input asp-for="SubjectGradeHead" class="form-control" required readonly>
            </div> <!--End of Grade Head Form-Group-->
        </div>


    </div><!--End of Row-->
    <br />
    <div class="row">
        <!--Start of Row-->

        <div class="col-sm-6">
            <input type="submit" class="btn btn-info w-75" value="Confrim Removal" />
        </div>
        <div class="col-sm-6">
            <a type="button" class="btn btn-danger w-75" asp-controller="Admin" asp-action="AdminEditSubject">Back </a>
        </div>
    </div><!--End of Row-->


</form>

</html>