@{
    ViewData["Title"] = "Create Subject";
    Layout = "~/Pages/AdminDashboardLayout.cshtml";
}
@using Final_LitchiLearn.Models
@model Final_LitchiLearn.Models.AdminSubject
@*@{
    IEnumerable<UserAccountModel> userAcc = ViewData["UserAccounts"] as IEnumerable<UserAccountModel>;
    IEnumerable<AdminSubject> adminSub = ViewData["SubjectList"] as IEnumerable<AdminSubject>;
}*@

<!DOCTYPE HTML>
<html>
<head><link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" /></head>   
    <div class="landing-page"><!--Start of Nav Bar-->
  <div class="container">
        <div class="header-area">
      <div class="logo">LitchiLearn</div>
      <ul class="links">
        <li><a type="button" class="nav-link text-dark" asp-controller="Admin" asp-action="AdminDashboard" >  Home </a></li>      
        <li>Log Out</li>
      </ul>
    </div>
    </div>
    </div><!--End of Nav Bar-->
<form method="post" asp-action="CreateSubject">
    <h4>Insert new subject into the system</h4>
        

        <hr />
    <div class="row">
        <div class="col-sm-6">
        <div class="form"><!--Start of Subject Name Form-Group-->
            <label>Subject Name</label><br />
                <input asp-for="SubjectName" class="form-control" required>
        </div><!--End of Subject Name Form-Group-->
        </div>
        <div class="col-sm-6">
        <div class="form"><!--Start of Grade Selection Form-Group-->
            <label>Assign Grade to Subject</label><br />
                <select asp-for="SubjectGrade" class="form-control">
                <option value="grade 4">Grade 4</option>
                <option value="grade 5">Grade 5</option>
                <option value="grade 6">Grade 6</option>
                <option value="grade 7">Grade 7</option>
            </select>
        </div> <!--End of Grade Selection Form-Group-->
        </div>
    </div><!--End of Row-->
    <div class="row"><!--Start of Row-->
        <div class="col-sm-6">
        <div class="form"><!--Start of Grade Head Form-Group-->
            <label>Select HOD</label><br />
           
                <select asp-for="SubjectGradeHead" class="form-control">
                    <option value="William Kleff">William Kleff</option>
                    <option value="Pelor Yarn">Pelor Yarn</option>
                    <option value="Tasha Iggwilv">Tasha Iggwilv</option>
                    
            </select>
        </div> <!--End of Grade Head Form-Group-->
        </div>

        
   </div><!--End of Row-->
   <br />
    <div class="row"><!--Start of Row-->
        
        <div class="col-sm-6">
            <input type="submit" class="btn btn-info w-75" value="Add Subject" />
        </div>
        <div class="col-sm-6">
            <a type="button" class="btn btn-danger w-75" asp-controller="Admin" asp-action="AdminDashboard">Back </a>
        </div>
    </div><!--End of Row-->


    </form>

</html>