@{
    ViewData["Title"] = "Request Account Change";
    //Layout = "~/Views/Shared/_TeacherLayout.cshtml";
    Layout = "~/Pages/AdminDashboardLayout.cshtml";

}
@using Final_LitchiLearn.Models
@using Microsoft.AspNetCore.Http
@model Final_LitchiLearn.Models.AccountRequestModel
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Dashboard"] - LitchiLearn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
</head>
<body>

    <h4>Change Account Type</h4>

    <form method="post" asp-action="CreateAccountRequest">
        <div class="col">
        <div class="row">
        <div class="form">
            <!--Start of First Name Form-Group-->
           
                    @{
                        string sUserName;
                        sUserName = User.Identity.Name;
                        string atEmail = sUserName+"@gmail.com";
                       
                    }

                    <div class="card-body">
                    <div class=col-4>
                        <div class="row">
                    <input asp-for="RequestUsername" class="form-control" value=@sUserName readonly /><hr />
                    </div>
                        <div class="row">
                    <input asp-for="Email" class="form-control" value="@atEmail " readonly /><hr />
                    </div>
                        <div class="row">
                                <label>Select which type of user you would like to change to</label>
                    <select asp-for="RoleChanged" class="form-control">
                        <option value="" disabled selected hidden>Select User Type</option>
                        <option value="teacher">Teacher</option>
                        <option value="subCord">Subject Coordinator</option>
                        <option value="hod">HOD</option>
                        <option value="admin">Admin</option>
                    </select>
                                <span asp-validation-for="RoleChanged" class="text-danger"></span><hr />
                    </div>
                        <div class="row">
                            
                    <input type="hidden" asp-for="RequestStatus" value= "1" />

                    </div>

                        <div class="row">
                            
                                                                            
                                <div class="col-sm-6">
                                <input type="submit" class="btn btn-info w-75" value="Create Account" />
                                </div>
                                <div class="col-sm-6">
                                    <a type="button" class="btn btn-danger w-75" asp-controller="Admin" asp-action="AdminDashboard">Back </a>
                                </div>


                         </div>
                            
                            

                        </div>

                    </div>

        </div><!--End of First Name Form-Group-->
        </div>
       





    </div>


    </form>
    </body>


   


</html>

           