@model FileClass
@{
     Layout = "~/Views/SubCo/_LayoutSubCo.cshtml";
}

<form asp-controller = "Files1" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name ="file"/>
    <hr/>
    <button type="submit">Upload</button>
</form>

@if(Model != null)
{
    <hr/>
    <table class = "table table-borderd table-striped" cellpadding="0" cellspacing="0" border="1">
        <thead>
            <tr>
                <th>SL</th>
                <th>PDF Name</th>
                <th>Display Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach(FileClass file in Model.files)
            {
                <tr>
                    <td>@file.FieldID</td>
                    <td>@file.Name</td>
                    <td>
                        <a href = "../Files1/Index?fileName=@file.Name" style="margin-right:10px";>Current Page</a>
                         <a href = "../Files1/PDFViewerNewTab?fileName=@file.Name" target = "_blank">New Tab</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<br /><br />

<embed id = "embPDF" src = "~/files/" style = "width:100px; height:1200px;"/>