
@{
   
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Student"] - LitchiLearn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
</head>
<body>
<h1> All my students</h1>
   <div class="card border-primary">
        <div class="container">
         <h4 class="center">Brennan Astro</h4>
         <p class="center"><img src="~/Images/The Fox and the Hound.jpg" class="rounded-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>        
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
         <p> Subject: Maths</p>
        </div>
      </div>
      <br/>
  <div class="card border-primary">
        <div class="container">
         <h4 class="center">Brennan Astro</h4>
         <p class="center"><img src="~/Images/Brennan.jpeg" class="rounded-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>        
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> March 17, 1995</p>
         <p> Subject: English</p>
        </div>
  </div>
 </body>
      </html>