
@model IEnumerable<Final_LitchiLearn.Models.Subject>
@{
   
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Subject"] - LitchiLearn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
</head>
<body>
<h1>Subjects</h1>
<div>
        <a asp-controller="Teacher" asp-action="SubjectCreate" class="btn btn-primary">Add Subjects</a>
        <br />
</div>
    

@if(Model.Count()>0)
{
        <table class="table table table-hover" >
            <thead>
                <tr>                    
                    <th>
                        Subject
                    </th>  
                    <th>
                        Edit
                    </th>

                </tr>
            </thead>

            <tbody>
                @foreach (var subject in Model)
                {
                    <tr>
                        <td >@subject.SubjectName</td>
                        
                        <td >
                            <div >
                                <a asp-controller="Teacher" asp-action="UpdateSubject" asp-route-ID="@subject.SubjectID" class="btn btn-primary">Update</a>
                                <a asp-controller="Teacher" asp-action="DeleteSubject" asp-route-ID="@subject.SubjectID" class="btn btn-danger">Delete</a>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
}
else
{
    <p>No Subjects Assigned to you yet.</p>
}


</body>
</html>
