@using Final_LitchiLearn.Models
@model IEnumerable<Final_LitchiLearn.Models.Topics>
@{
   
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Topic"] - LitchiLearn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
</head>
<body>
    <h2>Grade 5</h2>
    <h3>Topics</h3>
    <hr />

    <a class="btn btn-primary" href="#" role="button">Add Another Lesson</a>
    <br /><br />
    <div>
        <h6><input class="custom-checkbox" type="checkbox" /> Hide Lesson</h6>
    </div>

    @foreach(var topic in Model)
    {
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@topic.TopicName</h5>
                        <p class="card-text">
                            @topic.TopicDesc
                        </p>
                        <a href="#" class="btn btn-primary">Go to Quiz</a>
                        <a href="#" onclick="location.href='@Url.Action("Quiz", "Teacher")'" class="btn btn-secondary">Create Quiz</a>
                    </div>
                </div>
            </div>
        </div>
    }
    <br />   
   
</body>
</html>
