@{
    ViewData["Title"] = "Home Page";

}
 <link rel="stylesheet" href="~/css/LandingPageAnimation.css" />
 
        <div class="example-box">
  <div class="background-shapes"></div>
  <h1>Welcome to Litchi Learn</h1>
  <p>A program developed by WaterMelon Ninja</p>
</div>
