

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;

}

.dropbtn {
    background-color: #438C48;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ed0942;
}

.jumbotron {
    background-color: #9AEB8D;
    font-family: "Lucida Console", "Courier New", monospace;
    background-image: url("../images/WaterMelonSplash.jpg");
    background-size: cover;
}

.jumbotron2 {
    background-color: #c79fa5;
    padding: 12px 16px;
}