@{
      ViewData["Title"] = "SubCo";
    Layout = "~/Views/SubCo/_LayoutSubCo.cshtml";

}
<link rel="stylesheet" href="~/css/SubCoStyle2.css">
  <link rel="stylesheet" href="~/css/SubCoStyle.css">
 <div class="container-fluid1">
    <div class="row">
      <div class="col-md-12">
        <div class="main-part">
          
          <div class="cpanel bg-primary">
            <div class="icon-part">
              <i class="fa fa-users" aria-hidden="true"></i><br>
              <p>Moderate Marks</p>
              <p>3 Files to be Moderated</p>
            </div>
            <div class="card-content-part bg-secondary">
              <a href="SubCo/Moderate">More Details </a>
            </div>
          </div>

          <div class="cpanel cpanel-green bg-primary">
            <div class="icon-part">
              <i class="fa fa-money" aria-hidden="true"></i><br>
              <p>Upload Cirriculum</p>
              <p>1 Cirriculum Outstanding</p>
            </div>
            <div class="card-content-part bg-secondary">
              <a href="SubCo/Upload">More Details </a>
            </div>
          </div>

          <div class="cpanel cpanel-orange bg-primary">
            <div class="icon-part">
              <i class="fa fa-bell" aria-hidden="true"></i><br>
              <p>Student Log Times</p>
              <p>View Log times of Students</p>
            </div>
            <div class="card-content-part bg-secondary">
              <a href="#">More Details </a>
            </div>
          </div>

          <div class="cpanel cpanel-blue bg-primary">
            <div class="icon-part">
              <i class="fa fa-tasks" aria-hidden="true"></i><br>
              <p>Student Progress Reports</p>
              <p>85</p>
            </div>
            <div class="card-content-part bg-secondary">
              <a href="SubCo/Reports">More Details </a>
            </div>
          </div>

          <div class="cpanel cpanel-red bg-primary">
            <div class="icon-part">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i><br>
              <p>Subject Grades</p>
              <p>45</p>
            </div>
            <div class="card-content-part bg-secondary">
              <a href="#">More Details </a>
            </div>
          </div>

          <div class="cpanel cpanel-skyblue bg-primary">
            <div class="icon-part">
              <i class="fa fa-comments" aria-hidden="true"></i><br>
              <p>Student Downloads</p>
              <p>View Student Downloads</p>
            </div>
            <div class="card-content-part bg-secondary">
              <a href="#">More Details </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
      <div class="footer bg-primary">
        <p>Subject Coordinator - Dashboard</p>
      </div>
    </div>
  </div>