@{
    ViewData["Title"] = "SubCo";
    Layout = "~/Views/SubCo/_LayoutSubCo.cshtml";
}
<div class="container-fluid2">
      <div class="row">
        <div class="col-md-9">
            <table class="table align-right mb-0 bg-white">
                <thead class="bg-light">
                  <tr>
                    <th>Name</th>
                    <th>Grade</th>
                    <th>Status</th>
                    <th></th>
                    <th>Download</th>                
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                            src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                            alt=""
                            style="width: 45px; height: 45px"
                            class="rounded-circle"
                            />
                        <div class="ms-3">
                          <p class="fw-bold mb-1">Johnny Johnson</p>
                          
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1"> Grade 7</p>
                      <p class="text-muted mb-0"> </p>
                    </td>
                    <td>
                      <span class="badge badge-success rounded-pill d-inline">Complete</span>
                    </td>
                    <td></td>
                    <td>
                      <button type="button" class="btn btn-link btn-sm btn-rounded">
                        Download
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                            src="https://mdbootstrap.com/img/new/avatars/6.jpg"
                            class="rounded-circle"
                            alt=""
                            style="width: 45px; height: 45px"
                            />
                        <div class="ms-3">
                          <p class="fw-bold mb-1">Idris Michegan</p>
                        
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">Grade 7</p>
                      <p class="text-muted mb-0"></p>
                    </td>
                    <td>
                      <span class="badge badge-success rounded-pill d-inline">Complete</span>
                    </td>
                    <td></td>
                    <td>
                      <button
                              type="button"
                              class="btn btn-link btn-rounded btn-sm fw-bold"
                              data-mdb-ripple-color="dark"
                              >
                        Download
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                            src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                            class="rounded-circle"
                            alt=""
                            style="width: 45px; height: 45px"
                            />
                        <div class="ms-3">
                          <p class="fw-bold mb-1">Gweneth Palio</p>
                         
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">Grade 7</p>
                      <p class="text-muted mb-0"></p>
                    </td>
                    <td>
                      <span class="badge badge-warning rounded-pill d-inline">Incomplete</span>
                    </td>
                    <td></td>
                    <td>
                      <button
                              type="button"
                              class="btn btn-link btn-rounded btn-sm fw-bold"
                              data-mdb-ripple-color="dark"
                              >
                        Download
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                            src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                            alt=""
                            style="width: 45px; height: 45px"
                            class="rounded-circle"
                            />
                        <div class="ms-3">
                          <p class="fw-bold mb-1">Elianson Eli</p>
                          
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1"> Grade 7</p>
                      <p class="text-muted mb-0"> </p>
                    </td>
                    <td>
                      <span class="badge badge-warning rounded-pill d-inline">Incomplete</span>
                    </td>
                    <td></td>
                    <td>
                      <button type="button" class="btn btn-link btn-sm btn-rounded">
                        Download
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                            src="https://mdbootstrap.com/img/new/avatars/2.jpg"
                            class="rounded-circle"
                            alt=""
                            style="width: 45px; height: 45px"
                            />
                        <div class="ms-3">
                          <p class="fw-bold mb-1">Imilio Minxton</p>
                          
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">Grade 7</p>
                      <p class="text-muted mb-0"></p>
                    </td>
                    <td>
                      <span class="badge badge-warning rounded-pill d-inline">Incomplete</span>
                    </td>
                    <td></td>
                    <td>
                      <button
                              type="button"
                              class="btn btn-link btn-rounded btn-sm fw-bold"
                              data-mdb-ripple-color="dark"
                              >
                        Download
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                            src="https://mdbootstrap.com/img/new/avatars/9.jpg"
                            class="rounded-circle"
                            alt=""
                            style="width: 45px; height: 45px"
                            />
                        <div class="ms-3">
                          <p class="fw-bold mb-1">Ella Adlamison</p>
                         
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">Grade 7</p>
                      <p class="text-muted mb-0"></p>
                    </td>
                    <td>
                      <span class="badge badge-warning rounded-pill d-inline">Incomplete</span>
                    </td>
                    <td></td>
                    <td>
                      <button
                              type="button"
                              class="btn btn-link btn-rounded btn-sm fw-bold"
                              data-mdb-ripple-color="dark"
                              >
                        Download
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>    
        </div>
        <div class="col-md-2">
        </div>
        <div class="footer bg-primary">
          <p>Subject Coordinatior - View Progress Reports<br>
          Download and View Progress Reports</p>
        </div>
      </div>
    </div>