@{
    ViewData["Title"] = "SubCo";
    Layout = "~/Views/SubCo/_LayoutSubCo.cshtml";
}
<form action="/action_page.php">
  <input type="file" id="myFile" name="filename">
  <input type="submit">
</form>